node_modules
yarn.lock
apps/http-backend/node_modules
apps/frontend/node_modules
packages/db/node_modules
packages/backend-common/node_modules
packages/typescript-config/node_modules
packages/eslint-config/node_modules
.git
node_modules
.git
dist
.env
.vscode
*.log

**/node_modules
**/__tests__/
coverage
.vscode
*.log
dist
